@import "../../Public.scss";

.Head {
  display: flex;
  width: $width-window;
  background-color: $main-color;
  align-items: center;
  justify-content: space-between;


}

.Head_1{
  // margin-top: 20px;
}

.Head_2 {
  display: flex;
  justify-content: space-between;
}

nav {
  width: $width-window;
  padding-top: 1rem;
  background-color: $main-color;
}

ul {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  font-weight: 600;
}

.main_body{
  width: $width-window;
}

.slide_1{
  display: flex;
}